*{
    margin:0;
    padding:0;
    list-style-type: 0;
    
    
}

body {
    background: linear-gradient(rgba(2,0,36,1) ,rgba(121,9,29,1) );
    height: 100vh;
    background-attachment: fixed;
    
    
}

.container{
    overflow-x: hidden;

}




@media screen and (max-width:400px) {
    .we{
        display:flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        color:rgb(88, 10, 10);
        font-family: 'Minaeff Ect bold';
    }
    .video{
        display:flex;
        align-items: center;
        justify-content: center;
        font-family: 'Minaeff Ect bold';
        
        
    }
    
    video{
        border:2px solid rgb(83, 3, 3);
        border-radius: 30px;;
    }

    .us{
        display:flex;
        align-items: center;
        justify-content: center;
        color:rgb(88, 10, 10);
        
    }

    .photos{
        padding:30px 0px 30px 0px;
    }

    

    .photos__image{
        text-align: center;
        
    }
    
    .photos__image img{
        max-width:100%;
        border: 1px solid #1f1013;
        box-shadow: 30px solid black;
    }
    #heart {
        
        position: relative;
        right: -125px;
        width: 100px;
        height: 90px;
        margin-top: 10px;
      }
      
      #heart::before, #heart::after {
        content: "";
        position: absolute;
        top: 0;
        width: 52px;
        height: 80px;
        border-radius: 50px 50px 0 0;
        background: rgb(151, 16, 16);
        
      }
      
      #heart::before {
        display:flex;
        align-items: center;
        left: 50px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      
      #heart::after {
        display:flex;
        align-items: center;
        left: 0;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
      }

    .love2{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    
    
}
